%h3
  You're NOT authenticated.  I don't know you from Adam.
%a{:href => "#", :onclick => "document.authenticate_form.submit();"} Authenticate using your salesforce credentials
%form{:id => "authenticate_form", :name => "authenticate_form", :action => "authenticate", :method => "post"}
  %p
    %label Environment
    %select{:name => "environment"}
      %option{:value => "login"} Production
      %option{:value => "test"} Sandbox
      %option{:value => "prerellogin.pre"} Pre Release
